/* 3D Tilt Effect */
.tiltwrapper {
  -webkit-perspective: 1500px;
     -moz-perspective: 800px;
          perspective: 800px;
}
.tiltleft {
  -webkit-transition: -webkit-transform 1s;
     -moz-transition: -moz-transform 1s;
          transition: all 1s;
  -webkit-transform: rotateY(-15deg);
     -moz-transform: rotateY(-15deg);
          transform: rotateY(-15deg);
}
.tiltleft:hover {
    -webkit-transform: rotateX(0deg) rotateY(0deg) rotateZ(0deg);
       -moz-transform: rotateX(0deg) rotateY(0deg) rotateZ(0deg);
            transform: rotateX(0deg) rotateY(0deg) rotateZ(0deg);
}
.tiltright {
  -webkit-transition: -webkit-transform 1s;
     -moz-transition: -moz-transform 1s;
          transition: all 1s;
  -webkit-transform: rotateY(15deg);
     -moz-transform: rotateY(15deg);
          transform: rotateY(15deg);
}
.tiltright:hover {
    -webkit-transform: rotateX(0deg) rotateY(0deg) rotateZ(0deg);
       -moz-transform: rotateX(0deg) rotateY(0deg) rotateZ(0deg);
            transform: rotateX(0deg) rotateY(0deg) rotateZ(0deg);
}
.tiltback {
  -webkit-transition: -webkit-transform 1s;
     -moz-transition: -moz-transform 1s;
          transition: all 1s;
  -webkit-transform: rotateX(15deg);
     -moz-transform: rotateX(15deg);
          transform: rotateX(15deg);
}
.tiltback:hover {
    -webkit-transform: rotateX(0deg) rotateY(0deg) rotateZ(0deg);
       -moz-transform: rotateX(0deg) rotateY(0deg) rotateZ(0deg);
            transform: rotateX(0deg) rotateY(0deg) rotateZ(0deg);
}
.tiltforward {
  -webkit-transition: -webkit-transform 1s;
     -moz-transition: -moz-transform 1s;
          transition: all 1s;
  -webkit-transform: rotateX(-15deg);
     -moz-transform: rotateX(-15deg);
          transform: rotateX(-15deg);
}
.tiltforward:hover {
    -webkit-transform: rotateX(0deg) rotateY(0deg) rotateZ(0deg);
       -moz-transform: rotateX(0deg) rotateY(0deg) rotateZ(0deg);
            transform: rotateX(0deg) rotateY(0deg) rotateZ(0deg);
}
/* End Tilt Effect */
