.roll-link {
	display: inline-block;
	overflow: hidden;
	-webkit-perspective: 300px; 
	   -moz-perspective: 600px; 
	  	-ms-perspective: 600px; 
		    perspective: 600px;
	-webkit-perspective-origin: 50% 50%;
			perspective-origin: 50% 50%;
	vertical-align: top;
}
.roll-link:hover {
	text-decoration: none;
}
.roll-link span {
	display: block;
	padding: 0 2px;
	position: relative;
	transition: all 500ms ease;
	-webkit-transform-origin: 50% 0 0;
			transform-origin: 50% 0 0;
	-webkit-transform-style: preserve-3d;
	   -moz-transform-style: preserve-3d;
	    -ms-transform-style: preserve-3d;
	        transform-style: preserve-3d;
}
.roll-link:hover span {
	background: none repeat scroll 0 0 #F87A52;
	-webkit-transform: translate3d(0px, 0px, -30px) rotateX(90deg);
			transform: translate3d(0px, 0px, -30px) rotateX(90deg);
}
.roll-link span:after {
	background: none repeat scroll 0 0 #F87A52;
	color: #FFFFFF;
	content: attr(data-title);
	display: block;
	left: 0;
	padding: 0 2px;
	position: absolute;
	top: 0;
	-webkit-transform: translate3d(0px, 105%, 0px) rotateX(-90deg);
			transform: translate3d(0px, 105%, 0px) rotateX(-90deg);
	-webkit-transform-origin: 50% 0 0;
			transform-origin: 50% 0 0;
}
