@font-face {
    font-family: 'MetaPro-Normal';
    src: url('../fonts/metapro-normal.eot');
    src: url('../fonts/metapro-normal.eot?#iefix') format('embedded-opentype'),
         url('../fonts/metapro-normal.woff') format('woff'),
         url('../fonts/metapro-normal.ttf') format('truetype'),
         url('../fonts/metapro-normal.svg#metapro-normal') format('svg');
    font-weight: normal;
    font-style: normal;
}

@font-face {
    font-family: 'MetaPro-Bold';
    src: url('../fonts/metapro-bold.eot');
    src: url('../fonts/metapro-bold.eot?#iefix') format('embedded-opentype'),
         url('../fonts/metapro-bold.woff') format('woff'),
         url('../fonts/metapro-bold.ttf') format('truetype'),
         url('../fonts/metapro-bold.svg#metapro-bold') format('svg');
    font-weight: normal;
    font-style: normal;
}

@font-face {
    font-family: 'museo_sans_100regular';
    src: url('../fonts/museosans-100-webfont.eot');
    src: url('../fonts/museosans-100-webfont.eot?#iefix') format('embedded-opentype'),
         url('../fonts/museosans-100-webfont.woff') format('woff'),
         url('../fonts/museosans-100-webfont.ttf') format('truetype'),
         url('../fonts/museosans-100-webfont.svg#museo_sans_100regular') format('svg');
    font-weight: normal;
    font-style: normal;
}

@font-face {
    font-family: 'museo_sans_300regular';
    src: url('../fonts/museosans-300-webfont.eot');
    src: url('../fonts/museosans-300-webfont.eot?#iefix') format('embedded-opentype'),
         url('../fonts/museosans-300-webfont.woff') format('woff'),
         url('../fonts/museosans-300-webfont.ttf') format('truetype'),
         url('../fonts/museosans-300-webfont.svg#museo_sans_300regular') format('svg');
    font-weight: normal;
    font-style: normal;
}

@font-face {
    font-family: 'museo_sans_500regular';
    src: url('../fonts/museosans_500-webfont.eot');
    src: url('../fonts/museosans_500-webfont.eot?#iefix') format('embedded-opentype'),
         url('../fonts/museosans_500-webfont.woff') format('woff'),
         url('../fonts/museosans_500-webfont.ttf') format('truetype'),
         url('../fonts/museosans_500-webfont.svg#museo_sans_500regular') format('svg');
    font-weight: normal;
    font-style: normal;
}