@font-face {
    font-family: 'MetaPro-Bold';
    src: url('../fonts/metapro-bold.eot');
    src: url('../fonts/metapro-bold.eot?#iefix') format('embedded-opentype'),
         url('../fonts/metapro-bold.svg#metapro-bold') format('svg'),
         url('../fonts/metapro-bold.woff') format('woff'),
         url('../fonts/metapro-bold.ttf') format('truetype');
    font-weight: normal;
    font-style: normal;
}

@font-face {
    font-family: 'museo_sans_300regular';
    src: url('../fonts/museosans-300-webfont.eot');
    src: url('../fonts/museosans-300-webfont.eot?#iefix') format('embedded-opentype'),
         url('../fonts/museosans-300-webfont.svg#museo_sans_300regular') format('svg'),
         url('../fonts/museosans-300-webfont.woff') format('woff'),
         url('../fonts/museosans-300-webfont.ttf') format('truetype');
    font-weight: normal;
    font-style: normal;
}
