/*!
* BootstraPHP Styles
* Rikki Tripp - www.trippnology.com
* Latest version: https://github.com/Trippnology/BootstraPHP
*
* Contents:
*    Plugin stylesheets
*    Text Styling
*    Section Styling
*    Page Specific Styles
*    Utilities
*    Media Queries
*    Print Styles
*    Colours:
*      Burgundy: #332532
*      Grape: #634C52
*      Bright Orange: #F87A52
*      Light Orange: #FF974E
*      Grey: #A59A88
*/

/* $Plugin stylesheets */
/* ######################################################### */
@import url('fonts.css');
@import url('3d-photo-effect.css');
@import url('3d-text-links.css');
@import url('proudify.css');
@import url('social-sprite.css');
@import url('ui.totop.css');
@import url('animate-custom.css');

/* $Text styling */
/* ######################################################### */
h1, h2, h3, h4, h5, h6 {
	font-family: MetaPro-Bold, "Helvetica Neue", Helvetica, Arial, sans-serif;
	font-weight: normal;
	color: #332532;
}
.brand { font-family: MetaPro-Bold, "Helvetica Neue", Helvetica, Arial, sans-serif; }
.pagetitle { width: 100%; line-height: 1.5em; }
.pagetitle a:hover { text-decoration: none; }
.social-links { text-align: center; }
a { color: #F87A52; }
a:hover { color: #634C52; }
/* Form overides */
.input-append input, .input-prepend input, .input-append select, .input-prepend select, .input-append .uneditable-input, .input-prepend .uneditable-input, .input-append .dropdown-menu, .input-prepend .dropdown-menu, .input-append .popover, .input-prepend .popover {
    font-size: 16px;
    font-family: museo_sans_300regular;
}
select, textarea, input[type="text"], input[type="password"], input[type="datetime"], input[type="datetime-local"], input[type="date"], input[type="month"], input[type="time"], input[type="week"], input[type="number"], input[type="email"], input[type="url"], input[type="search"], input[type="tel"], input[type="color"], .uneditable-input {
	height: auto;
	font-family: museo_sans_300regular;
}

/* $Section styling */
/* ######################################################### */
body {
	font-family: museo_sans_300regular, "Helvetica Neue", Helvetica, Arial, sans-serif;
	font-size: 16px;
	background-image: url("../img/ui/lil_fiber.png");
	background-repeat: repeat;
	background-size: auto auto;
	background-attachment: fixed;
}
header.page-header {
	height: 24em;
	max-width: 1920px;
	position: relative;
	border: 0;
	color: #fff;
	margin: 3em auto 2.5em;
	z-index: -1;
	-webkit-box-shadow: 0px 10px 10px rgba(50, 50, 50, 0.75);
	-moz-box-shadow: 0px 10px 10px rgba(50, 50, 50, 0.75);
	box-shadow: 0px 10px 10px rgba(50, 50, 50, 0.75);
}
header.page-header img {
	position: absolute;
	top: 0;
	left: 0;
	min-width: 100%;
	height: 100%;
}
.header-caption {
  margin-top: 4.5em;
  padding: 1em 5em;
  position: relative;
}
.header-caption h1, .header-caption h2 {
	text-shadow: 1px 1px 5px #444;
}
.header-caption h2 {
	color: #fff;
}

article { padding: 1.5em 0; }
nav.vert-menu {
	margin-top: 1.5em;
	padding: 0;
	text-align: center;
	font-size: 0.95em;
	line-height: 1.7em;
}
nav.vert-menu ul.nav { padding: 0; }
nav.vert-menu ul.nav li { padding: 0; }
a.vert-menu-item {
	padding: 0 0.125em;
	font-size: 1.1em;
	line-height: 1.4em;
	color: #634C52;
	-webkit-transition: all 0.3s ease-out;
	-moz-transition: all 0.3s ease-out;
	-ms-transition: all 0.3s ease-out;
	-o-transition: all 0.3s ease-out;
	transition: all 0.3s ease-out;
}
/* Needed to be more specific to overide default bootstrap style */
.vert-menu li > a.vert-menu-item:hover {
	color: #332532;
	background-color: #fff;
	text-shadow: 0 0 3px rgba(248, 121, 82, 0.5);
}
#nav-block {
	width: 234px;
	margin-top: 1em;
	padding: 1em;
	background: #fff;
}
/* Using a 2x image so it looks nice on retina screens so we need to manually specify dimensions */
img[itemprop=logo] {
	width: 180px;
}
.affix {
	position: fixed;
	top: 0;
}
footer[role=contentinfo] {
	text-align: center;
	margin-top: 1em;
	padding-bottom: 0.25em;
}
footer[role=contentinfo] .divider {	margin-bottom: 1em; }
footer[role=contentinfo] p.lead { margin-bottom: 0.25em; }
footer[role=contentinfo] p.license { margin-top: -0.5em; }

/* $Page Specific Styles */
/* ######################################################### */
body.page-home { padding-top: 3.5em; }
.page-home .carousel { margin-top: -0.5em; }
/* web-design-attleborough */
.page-web-design .intro { text-align: center; }
.portfolio .badge { margin-left: 0.25em; }
.portfolio-link:hover { background: #F87A52; text-decoration: none; }
/* prices */
.price-table-web th { text-align: center; }
.price-table-web td { color: #fff; }
.price-table-web + p { text-align: right; font-size: 0.8em; }
/* contact */
.qrcode img { margin-bottom: 1em; }
.qrcode p { margin-bottom: 0; text-align: justify; }
.contact-result {
	display: none;
	width: 230px;
	margin: 0.5em auto;
	padding: 0.25em;
	border: 1px solid #FF974E;
}
/* shed */
.page-shed a.label { margin-left: 0.5em; }

/* CUSTOMIZE THE NAVBAR
-------------------------------------------------- */
/* Special class on .container surrounding .navbar, used for positioning it into place. */
.navbar-wrapper {
	position: absolute;
	top: 0;
	left: 0;
	right: 0;
	z-index: 20;
	margin-top: 0;
	margin-bottom: -3em; /* Negative margin to pull up carousel */
}
.navbar .navbar-inner {
	border: 2px solid #F87A52;
	-webkit-box-shadow: 0 2px 10px rgba(0,0,0,.75);
	-moz-box-shadow: 0 2px 10px rgba(0,0,0,.75);
	box-shadow: 0 2px 10px rgba(0,0,0,.75);
}
.navbar .brand {
	padding: 14px 20px 16px; /* Increase vertical padding to match navbar links */
	color: #332532;
	font-size: 1.8em;
}
.navbar .nav { font-size: 1.3em; }
.navbar .nav > li > a {
	padding: 15px 20px;
}

/* Offset the responsive button for proper vertical alignment */
.navbar .btn-navbar {
	margin-top: 0.5em;
	color: #332532;
	text-shadow: none;
}

/* Carousel base class */
.carousel {
	margin-bottom: 60px;
	-webkit-box-shadow: 0px 10px 10px rgba(50, 50, 50, 0.75);
	-moz-box-shadow: 0px 10px 10px rgba(50, 50, 50, 0.75);
	box-shadow: 0px 10px 10px rgba(50, 50, 50, 0.75);
}

.carousel .container {
	position: relative;
	z-index: 10;
}

.carousel-control {
	height: 80px;
	margin-top: 0;
	font-size: 120px;
	text-shadow: 0 1px 1px rgba(0,0,0,.4);
	background-color: transparent;
	border: 0;
}

.carousel .item {
	height: 375px;
}
.carousel img {
	position: absolute;
	top: 0;
	left: 0;
	min-width: 100%;
	height: 500px;
}

.carousel-caption {
	background-color: transparent;
	position: static;
	max-width: 550px;
	padding: 0 5em;
	margin-top: 7.5em;
}
.carousel-caption h1,
.carousel-caption .lead {
	margin: 0;
	line-height: 1.25;
	color: #fff;
	text-shadow: 0 1px 1px rgba(0,0,0,.4);
}
.carousel-caption .btn {
	margin-top: 10px;
}
/* MARKETING CONTENT
-------------------------------------------------- */

/* Center align the text within the three columns below the carousel */
.marketing .span3 {
	text-align: center;
}
.marketing .span3 p {
	margin-left: 10px;
	margin-right: 10px;
}
.marketing h2 {
	font-weight: normal;
}
.marketing .divider {
	margin: 4em 0; /* Space out the <hr> more */
}

/* Featurettes
------------------------- */

.featurette {
	padding-top: 1em; /* Vertically center images part 1: add padding above and below text. */
	overflow: hidden; /* Vertically center images part 2: clear their floats. */
}
.featurette:last-child { margin-bottom: 3em; }
.featurette ol.lead li { margin-bottom: 0.5em; }
.featurette-image {
	margin-top: 2em; /* Vertically center images part 3: negative margin up the image the same amount of the padding to center it. */
	width: 256px;
}
.featurette-image-mini {
	width: 128px;
	height: 128px;
}

/* Give some space on the sides of the floated elements so text doesn't run right into it. */
.featurette-image.pull-left {
	margin-right: 3em;
}
.featurette-image.pull-right {
	margin-left: 3em;
}

/* Thin out the marketing headings */
.featurette-heading {
	font-size: 3em;
	font-weight: 300;
	line-height: 1;
	letter-spacing: -1px;
}


/* $Utilities */
/* ######################################################### */
/* Apply a natural box layout model to all elements */
* { -moz-box-sizing: border-box; -webkit-box-sizing: border-box; box-sizing: border-box; }

.border-dark { border: 1px solid #444; }
.border-light { border: 1px solid #ccc; }
.border-fat { border-width: 5px; }
.center { text-align: center; }

.burgundy { background-color: #332532; }
.grape { background-color: #634C52; }
.brightorange { background-color: #F87A52; }
.lightorange { background-color: #FF974E; }
.grey { background-color: #A59A88; }
.white { background-color: #fff; }

.divider {
	margin: 0.5em 0; /* Space out the <hr> more */
	height: 0.5em;
	border: 0;
	background: rgb(51,37,50); /* Old browsers */
	background: -moz-linear-gradient(left, rgba(51,37,50,1) 0%, rgba(51,37,50,1) 20%, rgba(99,76,82,1) 20%, rgba(99,76,82,1) 40%, rgba(248,122,82,1) 40%, rgba(248,122,82,1) 60%, rgba(255,151,78,1) 60%, rgba(255,151,78,1) 80%, rgba(165,154,136,1) 80%, rgba(165,154,136,1) 100%); /* FF3.6+ */
	background: -webkit-gradient(linear, left top, right top, color-stop(0%,rgba(51,37,50,1)), color-stop(20%,rgba(51,37,50,1)), color-stop(20%,rgba(99,76,82,1)), color-stop(40%,rgba(99,76,82,1)), color-stop(40%,rgba(248,122,82,1)), color-stop(60%,rgba(248,122,82,1)), color-stop(60%,rgba(255,151,78,1)), color-stop(80%,rgba(255,151,78,1)), color-stop(80%,rgba(165,154,136,1)), color-stop(100%,rgba(165,154,136,1))); /* Chrome,Safari4+ */
	background: -webkit-linear-gradient(left, rgba(51,37,50,1) 0%,rgba(51,37,50,1) 20%,rgba(99,76,82,1) 20%,rgba(99,76,82,1) 40%,rgba(248,122,82,1) 40%,rgba(248,122,82,1) 60%,rgba(255,151,78,1) 60%,rgba(255,151,78,1) 80%,rgba(165,154,136,1) 80%,rgba(165,154,136,1) 100%); /* Chrome10+,Safari5.1+ */
	background: -o-linear-gradient(left, rgba(51,37,50,1) 0%,rgba(51,37,50,1) 20%,rgba(99,76,82,1) 20%,rgba(99,76,82,1) 40%,rgba(248,122,82,1) 40%,rgba(248,122,82,1) 60%,rgba(255,151,78,1) 60%,rgba(255,151,78,1) 80%,rgba(165,154,136,1) 80%,rgba(165,154,136,1) 100%); /* Opera 11.10+ */
	background: -ms-linear-gradient(left, rgba(51,37,50,1) 0%,rgba(51,37,50,1) 20%,rgba(99,76,82,1) 20%,rgba(99,76,82,1) 40%,rgba(248,122,82,1) 40%,rgba(248,122,82,1) 60%,rgba(255,151,78,1) 60%,rgba(255,151,78,1) 80%,rgba(165,154,136,1) 80%,rgba(165,154,136,1) 100%); /* IE10+ */
	background: linear-gradient(to right, rgba(51,37,50,1) 0%,rgba(51,37,50,1) 20%,rgba(99,76,82,1) 20%,rgba(99,76,82,1) 40%,rgba(248,122,82,1) 40%,rgba(248,122,82,1) 60%,rgba(255,151,78,1) 60%,rgba(255,151,78,1) 80%,rgba(165,154,136,1) 80%,rgba(165,154,136,1) 100%); /* W3C */
	filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#332532', endColorstr='#a59a88',GradientType=1 ); /* IE6-9 */
}
.divider.large { margin: 4em 0; }

/* Buttons */
/* Generated at: http://charliepark.org/bootstrap_buttons/ */
.btn-burgundy { background-color: hsl(304, 16%, 7%) !important; background-repeat: repeat-x; filter: progid:DXImageTransform.Microsoft.gradient(startColorstr="#4f394e", endColorstr="#140e14"); background-image: -khtml-gradient(linear, left top, left bottom, from(#4f394e), to(#140e14)); background-image: -moz-linear-gradient(top, #4f394e, #140e14); background-image: -ms-linear-gradient(top, #4f394e, #140e14); background-image: -webkit-gradient(linear, left top, left bottom, color-stop(0%, #4f394e), color-stop(100%, #140e14)); background-image: -webkit-linear-gradient(top, #4f394e, #140e14); background-image: -o-linear-gradient(top, #4f394e, #140e14); background-image: linear-gradient(#4f394e, #140e14); border-color: #140e14 #140e14 hsl(304, 16%, 2%); color: #fff !important; text-shadow: 0 -1px 0 rgba(0, 0, 0, 0.33); -webkit-font-smoothing: antialiased; }
.btn-grape { background-color: hsl(344, 13%, 25%) !important; background-repeat: repeat-x; filter: progid:DXImageTransform.Microsoft.gradient(startColorstr="#81636b", endColorstr="#48373b"); background-image: -khtml-gradient(linear, left top, left bottom, from(#81636b), to(#48373b)); background-image: -moz-linear-gradient(top, #81636b, #48373b); background-image: -ms-linear-gradient(top, #81636b, #48373b); background-image: -webkit-gradient(linear, left top, left bottom, color-stop(0%, #81636b), color-stop(100%, #48373b)); background-image: -webkit-linear-gradient(top, #81636b, #48373b); background-image: -o-linear-gradient(top, #81636b, #48373b); background-image: linear-gradient(#81636b, #48373b); border-color: #48373b #48373b hsl(344, 13%, 20%); color: #fff !important; text-shadow: 0 -1px 0 rgba(0, 0, 0, 0.33); -webkit-font-smoothing: antialiased; }
.btn-brightorange { background-color: hsl(14, 92%, 55%) !important; background-repeat: repeat-x; filter: progid:DXImageTransform.Microsoft.gradient(startColorstr="#f99f84", endColorstr="#f55322"); background-image: -khtml-gradient(linear, left top, left bottom, from(#f99f84), to(#f55322)); background-image: -moz-linear-gradient(top, #f99f84, #f55322); background-image: -ms-linear-gradient(top, #f99f84, #f55322); background-image: -webkit-gradient(linear, left top, left bottom, color-stop(0%, #f99f84), color-stop(100%, #f55322)); background-image: -webkit-linear-gradient(top, #f99f84, #f55322); background-image: -o-linear-gradient(top, #f99f84, #f55322); background-image: linear-gradient(#f99f84, #f55322); border-color: #f55322 #f55322 hsl(14, 92%, 50%); color: #333 !important; text-shadow: 0 1px 1px rgba(255, 255, 255, 0.33); -webkit-font-smoothing: antialiased; }
.btn-lightorange { background-color: hsl(25, 100%, 55%) !important; background-repeat: repeat-x; filter: progid:DXImageTransform.Microsoft.gradient(startColorstr="#ffb47f", endColorstr="#ff7919"); background-image: -khtml-gradient(linear, left top, left bottom, from(#ffb47f), to(#ff7919)); background-image: -moz-linear-gradient(top, #ffb47f, #ff7919); background-image: -ms-linear-gradient(top, #ffb47f, #ff7919); background-image: -webkit-gradient(linear, left top, left bottom, color-stop(0%, #ffb47f), color-stop(100%, #ff7919)); background-image: -webkit-linear-gradient(top, #ffb47f, #ff7919); background-image: -o-linear-gradient(top, #ffb47f, #ff7919); background-image: linear-gradient(#ffb47f, #ff7919); border-color: #ff7919 #ff7919 hsl(25, 100%, 50%); color: #333 !important; text-shadow: 0 1px 1px rgba(255, 255, 255, 0.33); -webkit-font-smoothing: antialiased; }
.btn-grey { background-color: hsl(37, 14%, 49%) !important; background-repeat: repeat-x; filter: progid:DXImageTransform.Microsoft.gradient(startColorstr="#bbb2a4", endColorstr="#8e816b"); background-image: -khtml-gradient(linear, left top, left bottom, from(#bbb2a4), to(#8e816b)); background-image: -moz-linear-gradient(top, #bbb2a4, #8e816b); background-image: -ms-linear-gradient(top, #bbb2a4, #8e816b); background-image: -webkit-gradient(linear, left top, left bottom, color-stop(0%, #bbb2a4), color-stop(100%, #8e816b)); background-image: -webkit-linear-gradient(top, #bbb2a4, #8e816b); background-image: -o-linear-gradient(top, #bbb2a4, #8e816b); background-image: linear-gradient(#bbb2a4, #8e816b); border-color: #8e816b #8e816b hsl(37, 14%, 44%); color: #333 !important; text-shadow: 0 1px 1px rgba(255, 255, 255, 0.33); -webkit-font-smoothing: antialiased; }

/* Round Corners */
.roundsm {
	-webkit-border-radius: 5px;
	-moz-border-radius: 5px;
	border-radius: 5px;
	-webkit-background-clip: padding-box;
	-moz-background-clip: padding;
	background-clip: padding-box;
}
.roundlrg {
	-webkit-border-radius: 10px;
	-moz-border-radius: 10px;
	border-radius: 10px;
	-webkit-background-clip: padding-box;
	-moz-background-clip: padding;
	background-clip: padding-box;
}

/* Images */
img.aligncenter {
	clear: both;
	display: block;
	margin: 0 auto;
}


/* Box Shadows */
.shadowleft {
	-webkit-box-shadow: -5px 5px 5px #ccc;
	-moz-box-shadow: -5px 5px 5px #ccc;
	box-shadow: -5px 5px 5px #ccc;
}
.shadowright {
	-webkit-box-shadow: 5px 5px 5px #ccc;
	-moz-box-shadow: 5px 5px 5px #ccc;
	box-shadow: 5px 5px 5px #ccc;
}

/* $Media Queries */
/* ######################################################### */

/* Older phones */
@media (max-width: 320px) {
	.carousel-caption {
		padding: 0 2em;
		margin-top: 4em;
	}
	.header-caption { margin-top: 4em; padding: 0 1em; }
	.header-caption h1 { font-size: 1.7em; line-height: 1em; }
	.header-caption h2 { font-size: 1.5em; line-height: 1.1em; }
}

/* Landscape phones and down */
@media (max-width: 480px) {
	body { padding-top:0; }
	.carousel-control { display: none; }
	.header-caption { margin-top: 4em; padding: 0.5em 2em; }
}

/* General small screen styles */
@media (min-width: 320px) and (max-width: 600px) {
	.navbar-wrapper { margin-top: 0; }
	header.page-header { margin: 0 0 2.5em; }
}

/* Landscape phone to portrait tablet */
@media (max-width: 768px) {
	body { padding-top:0; }
	.carousel-caption { margin-top: 3em; }
	header.page-header { margin: 3em 0 2.5em; }
	.header-caption h2 { font-size: 1.7em; line-height: 1.25em; }
	#nav-block {
		position: static;
		width: auto;
		top: 0;
	}
	.button-menu { width:35%; }
	.featurette-image { width: 128px; }
	ul.portfolio li { margin-left: 0.25em; }
}

/* Portrait tablet to landscape and desktop */
@media (min-width: 768px) and (max-width: 980px) {
	body { padding-top:0; }
	.navbar-wrapper { margin-top: 1.5em; }
	ul.social-links li { padding: 0; }
}

/* Most Desktop browsers */
@media (min-width: 980px) {
	.navbar-wrapper { margin-top: 1.5em; }
	.featurette-heading { font-size: 4.25em; }
	.page-it-support .header-caption { max-width: 770px; }
	.page-web-design .header-caption { max-width: 790px; }
}

/* Large desktop */
@media (min-width: 1200px) {

}

/* $Print styles.
* Inlined to avoid required HTTP connection: h5bp.com/r */
/* ######################################################### */

@media print {
	* { background: transparent !important; box-shadow:none !important; color: black !important; text-shadow: none !important; -ms-filter: none !important; filter:none !important; } /* Black prints faster: h5bp.com/s */
	a, a:visited { text-decoration: underline; }
	a[href]:after { content: " (" attr(href) ")"; }
	abbr[title]:after { content: " (" attr(title) ")"; }
	.ir a:after, a[href^="javascript:"]:after, a[href^="#"]:after { content: ""; } /* Don't show links for images, or javascript/internal links */
	pre, blockquote { border: 1px solid #999; page-break-inside: avoid; }
	thead { display: table-header-group; } /* h5bp.com/t */
	tr, img { page-break-inside: avoid; }
	img { max-width: 100% !important; }
	@page { margin: 0.5cm; }
	p, h2, h3 { orphans: 3; widows: 3; }
	h2, h3 { page-break-after: avoid; }
}
